<!DOCTYPE html>
<html>
<head>
    <title>Student Marks</title>
</head>
<body>
    <div class="navbar">
        <ul class="nav-container">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/insert">Insert</a></li>
            <li><a href="/average">Average</a></li>
            <li><a href="/visualization">Visualization</a></li>
        </ul>
    </div>

    <h1>Student Marks</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Marks</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

